body::-webkit-scrollbar {
	width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: grey;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 2px solid ;  /* creates padding around scroll thumb */
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
	font-family: Arial, sans-serif;
}

#dark-mode-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    font-size: 20px;
}

#dark-mode-icon.active {
    transform: rotate(180deg);
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px; /* Set the desired width */
    height: 80px; /* Set the desired height */
    padding: 10px; /* Set the desired padding */
    border-radius: 18px; /* Apply border radius */
    overflow: hidden; /* Hide overflowing content */
    margin-left: 15px; /* Add margin to the left */
  }
  /* Style for the logo image */
  .logo img {
    border-radius: 100%; /* Apply border radius to the image */
    display: block;
    height: 60px; /* Set the desired height */
    width: 60px; /* Set the desired width */
    margin-top: 10px; /* Add margin to the top */
  }
/* Section1 */
.heading{
    padding-top: 5%;
    display: block;
    justify-content: center;
    text-align: center;
}
.heading1{
    font-size: 70px;
    font-weight: 700;
    font-style: bold;
}
.heading2{
    font-weight: 500;
}
.heading3{
    margin-top: 1%;
    margin-left: 29%;
    margin-right: 29%;
    font-weight: 600;
    font-size: 14px;
}
@media screen AND (max-width:700px){
    .heading{
        padding-top: 15%;
    }
    .heading1{
        font-size: 35px;
        font-weight: 700;
        font-style: bold;
    }
    .heading3{
        margin-left: 3%;
        margin-right: 3%;
        font-weight: 550;
        font-size: 13px;
    }
}

/* Section2 */
.portionmain{
    display: flex;
    justify-content: center;
}
.portion0{
    display: flex;
}
.portion {
    border: 2px solid black;
    border-radius: 5px;
    margin: 1%;
    height: 100%;
    width: 30%;
}
.portion a {
    text-decoration: none;
    color: black;
}
.portion1 {
    font-size: 20px;
    font-weight: 550;
    margin-left: 4%;
    margin-top: 4%;
}
.portion2 {
    display: flex;
    padding-bottom: 5%;
}
.portion3 {
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    margin: 1%;
    font-size: 15px;
}
@media screen AND (max-width:700px) {
    .portionmain{
        display: block;
        padding-top: 5%;
    }
    .portion{
        width: 250px;
        margin-left: 25%;
    }
    .portion1 {
        font-size: 17px;
        font-weight: 550;
    }
    .portion3 {
        font-size: 13px;
    }
}

/* Timeline */
.timeline {
    margin-left: 27%;
    margin-right: 27%;
    padding: 2%;
}
.timelinehead{
    border-bottom: 5px solid black;
    color: black;
    width: 19%;
    font-weight: 550;
    font-size: 25px;
}
.timelineborder{
    border-left: 2px solid #78716C;
    padding: 1%;
    border-left-style: dashed;
    height: 19vh;
}
.timeline0 {
    display: flex;
}
.timeline1 {
    display: flex;
}
.timeline1 p {
    background-color: black;
    color: white;
    height: 4vh;
    width: 8vh;
    font-size: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.timeline2 {
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    color: #A8A29E;
    font-size: 14px;
}
.timeline4 {
    font-size: 16px;
    color: #78716C;
    font-family: inherit,serif;
}
@media screen AND (max-width:700px) {
    .timeline {
        margin:0%;
    }
    .timelinehead{
        width: 23%;
    }
    .timelineborder{
        padding: 2%;
        border-left-style: dashed;
        height: 25vh;
    }
}

/* Contact */
.contact{
    margin-left: 26%;
    margin-right: 26%;
    padding: 2%;
}
.contacthead{
    border-bottom: 5px solid black;
    color: black;
    width: 17%;
    font-weight: 550;
    font-size: 25px;
}
.contact1{
    border-color: #A8A29E;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.form-control:focus{    
  border-color: #A8A29E !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.contactbtn{
    border: none;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 7%;
    padding-right: 7%;
    background-image: linear-gradient(to right, #eab308 ,#ec4899);
}
.contactbtn a{
    text-decoration: none;
    color: white;
}
@media screen AND (max-width:700px) {
    .contact {
        margin:0%;
    }
    
}

/* footer */
.footer1 {
    display: flex;
    justify-content: center;
}
.footericon {
    margin: .3%;
}
.footericon a i {
    font-size: 19px;
    background-color: #A8A29A;
    color: white;
    border-radius: 25px;
    height: 5.5vh;
    width: 5.5vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.footericon a{
    text-decoration: none;
}
.footer2{
    display: flex;
    justify-content: center;
}
.footer2 p{
    font-size: smaller;
    color: grey;
}
.footer2 a{
    text-decoration: none;
    color:#1c1c1c;
}