{{ define "main" }}
    <div class="prose tracking-wide post">
    <h1 class="text-center">{{ .Title }}</h1>
    <div class="text-center">
        <span class="text-neutral-500">{{ .Params.Description }}</span>
    </div>
        <p>
        {{ .Content }}
    </p>

<hr> 
<script src="https://utteranc.es/client.js" 
    repo="mansoorbarri/website"
    issue-term="title"
    label="comments"
    crossorigin="anonymous"
    theme="photon-dark"
    async>
</script>

{{- partial "back-to-top.html" . -}}
{{- partial "js.html" . -}}
{{ end }}