@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family:Switzer;
    src:url(./Switzer.woff2) format("woff2");
    font-weight:300 900;
    font-style:normal;
    font-display:swap
}
  
pre {
  @apply whitespace-pre-wrap break-words;
  background-color: #303030  !important;
  border-radius: 10px  !important;
  padding: 10px  !important;
}
  
code {
  @apply whitespace-pre-wrap;
}

.post a {
  text-decoration: underline;
}

#content a:hover {
  color: white;
}

blockquote {
  background-color: rgb(82 82 82 / var(--un-border-opacity));;
  border-left: 4px solid #ccc;
  color: rgb(255 255 255/var(--un-outline-color-opacity));
  font-size: 1.2em;
  font-style: italic;
  margin: 1em 0;
  padding: 1em 1.5em;
}

code {
  background-color: #303030 
}