@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family:Switzer;
    src:url(./Switzer.woff2) format("woff2");
    font-weight:300 900;
    font-style:normal;
    font-display:swap
}
  
pre {
  @apply whitespace-pre-wrap break-words;
  background-color: #303030  !important;
  border-radius: 10px  !important;
  padding: 10px  !important;
}
  
code {
  @apply whitespace-pre-wrap;
}

.post a {
  text-decoration: underline;
}

#content a:hover {
  color: white;
}

.code-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

pre {
  padding: 1rem;
  background: #f5f5f5;
  border-radius: 8px;
  overflow: auto;
  margin: 0; /* Ensure no extra spacing */
  position: relative;
}

.copy-btn {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-btn:hover {
  color: #171717;
  background: white;
}