<header class="flex items-center justify-between h-10 mt-2">
    <h1 class="text-neutral-500">
        <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </h1>

    <!-- Centered Search Box (only visible if .Site.Params.search is true) -->
    {{ if .Site.Params.search }}
    <div class="flex-1 flex justify-center">
        <form id="search" role="search" class="w-full flex justify-center">
            <input 
                type="search" 
                placeholder="Search..." 
                class="w-1/2 px-6 py-3 border-2 border-neutral-500 text-neutral-900 bg-neutral-200 focus:outline-none focus:ring-2 focus:ring-neutral-400 focus:border-neutral-500 rounded-lg transition-all duration-200 ease-in-out hover:bg-neutral-100 hover:border-neutral-600"
                data-pagefind-input
            />
        </form>
        <div data-pagefind-modal></div>
    </div>
    {{ end }}
    

    <div class="flex gap-x-4 text-neutral-500">
        {{ range .Site.Menus.main }}
        <a href="{{ .URL | absURL }}" target="_self" class="hover:underline hover:underline-offset-4 hover:transition-transform">
            {{ .Name }}
        </a>
        {{ end }}
    </div>
</header>
