<div class="flex-1 flex justify-center">
    <form 
        id="search" 
        role="search" 
        class="w-full flex justify-center" 
        action="https://duckduckgo.com/" 
        method="get"
        target="_self"
    >
        <input 
            type="search" 
            name="q" 
            placeholder="search" 
            class="w-1/2 px-2 pb-1 border-b-2 border-neutral-500 text-white-900 bg-transparent focus:outline-none focus:border-b-neutral-700 transition-all duration-200 ease-in-out"
        />
        <input type="hidden" name="sites" value="mansoorbarri.com" />
    </form>
</div>
